
@font-face {
  font-family: _roboto;
  font-weight: bold;
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: _roboto;
  font-weight: 100;
  src: url("fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: _roboto;
  font-weight: normal;
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  color: white;

  margin: 0;
  padding: 0;

  background: url("images/background.jpg") no-repeat fixed;
  background-size: cover;
  font-family: _roboto;
}

h1 {
  font-size: 80px;
  font-weight: 100;
}

li {
  font-size: 25px;
}

/*By default list uses dots to separate elements from numbers.
 * These two styles remove the dot*/
ol {
  counter-reset: item;
  list-style-type: none;
}
ol > li::before {
  content: counter(item) " ";
  counter-increment: item;
  margin-right: 8px;
}


.language-box {
  position: fixed;
  top: 10px;
  left: 8px;
}

.language-box a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 3px;
}

.language-box .selected-lang {
  background-color: white;
  color: black;
  border-radius: 3px;
}


.box {
  width: 42vw;
  height: 1770px;
  margin-left: 29vw;
  margin-top: 10vh;

  padding: 20px;
  border: 10px transparent solid;
  border-radius: 30px;

  background-color: #0008;
}

.box-background {
  position: absolute;

  width: inherit;
  height: inherit;
  left: 29vw;
  top: 10vh;

  padding: inherit;
  border: inherit;
  border-radius: inherit;

  z-index: -1;
  background: url("images/background_blurred.jpg") no-repeat fixed;
}


.logo-and-name {
  margin-top: -25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-and-name img {
  margin-right: 20px;
}


.content-box {
  margin-top: 30px;
  padding: 20px;
  padding-left: 40px;
  border-radius: 10px;

  background-color: #0006;
  border: 1px #AAA solid;
}


.cursor {
  color: yellow;
  animation: flick 1s infinite;
}

.contacts h5 {
  margin-top: 5px;
  color: #CCC;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
}

.grid a {
  text-align: center;
  font-size: 22px;
  color: #FF55AA;
}

.grid .text {
  color: #AEF;
  font-size: 22px;
}

.grid .image {
  text-align: center;
}

/*This class is aligned and moved by JS, see copy_to_clipboard function*/
/* If JS is disabled, it will never actually be shown*/
.grid .image .popup {
  background-color: #333;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  z-index: 1;
  position: absolute;
  opacity: 0%;
  pointer-events:none;
}

.grid img {
  width: auto;
  height: auto;
  max-height: 50px;
  cursor: pointer;
}


.media-grid {
  grid-column-gap: 5px;
  grid-row-gap: 0;
}

.media-grid p {
  font-size: 22px;
}


.images-grid {
  grid-template-columns: auto auto;
}

.images-grid .gallery {
  width: 18vw;
  border: 2px solid white;
  border-radius: 5px;
}

.images-grid .gallery-overlay {
  position: absolute;
  width: 18vw;
  height: 18vw;
  background-color: #0007;
  opacity: 0;
  transition: 0.3s all;
}

.images-grid .gallery-overlay:hover {
  opacity: 100%;
}

.images-grid p {
  color: white;
  margin-top: 7.5vw;
  font-weight: bold;
}

.images-grid .image-container {
  height: 18vw;
  display: flex;
  align-items: center;
}

.images-grid img {
  display: block;
  max-height: none;
  width: 18vw;
}


.grow-on-hover {
  transition: 0.3s;
}
.grow-on-hover:hover {
  transform: scale(110%);
}


@keyframes flick {
  0% {
    opacity: 100%;
  }
  
  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes appear-and-disappear {
  0% {
    opacity: 0%;
    transform: scale(80%);
  }

  3% {
    opacity: 100%;
    transform: scale(100%);
  }

  90% {
    opacity: 100%;
    transform: scale(100%);
  }

  100% {
    opacity: 0%;
    transform: scale(80%);
  }
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 40px;
  }

  li {
    font-size: 18px;
  }

  h3 {
    margin-top: 8px;
    font-size: 16px;
  }


  .language-box a {
    font-size: 15px;
  }

  .logo-and-name {
    margin-top: 5px;
  }

  .logo-and-name img {
    width: 64px;
  }

  .box {
    width: 80vw;
    height: 1420px;
    margin-left: 5vw;
    padding: 10px;
  }

  .box-background {
    left: 5vw;
  }

  .content-box {
    padding: 10px;
    padding-left: 15px;
  }

  .grid a, .grid img, .grid .text, .grid p {
    font-size: 18px;
  }
  .grid {
    grid-template-columns: 64px auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    align-items: center;
  }

  .media-grid {
    grid-template-columns: 30% auto;
  }

  .grid img {
    max-height: 40px;
  }

  .grid .image .popup {
    font-size: 12px;
  }

  .images-grid {
    justify-content: center;
    grid-template-columns: auto auto;
  }

  .images-grid img {
    width: 25vw;
    max-height: none;
  }

  .images-grid .gallery {
    width: 25vw;
  }
  .images-grid .image-container {
    width: 25vw;
    height: 25vw;
  }
  .images-grid .gallery-overlay {
    width: 25vw;
    height: 25vw;
  }
  .images-grid p {
    margin-top: 11.5vw;
  }

  /* On mobile fixed background may not work. This is the workaround */
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    z-index: -2;
    background: url("images/background.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
  li {
    font-size: 14px;
  }

  .box {
    width: 84vw;
    height: 1210px;
    margin-left: 4vw;
    padding: 5px;
  }

  .grid a, .grid img, .grid .text, .grid p {
    font-size: 14px;
  }

  .grid img {
    max-height: 30px;
  }

  .grid {
    grid-column-gap: 40px;
  }

  .images-grid img {
    max-height: none;
  }
}
